[buildout]

extends =
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/test-5.1.x.cfg
    https://raw.githubusercontent.com/collective/buildout.plonetest/master/qa.cfg
    base.cfg

update-versions-file = test_plone51.cfg

[versions]
plone.testing = 5.1.1
plone.schema = 1.2.1
collective.recipe.vscode = >=0.1.6
PyJWT = <2.0.0a1

# Added by buildout at 2021-06-04 16:52:51.583726
PyJWT = 1.7.1
bleach = 3.3.0
collective.recipe.vscode = 0.1.6
createcoverage = 1.5
pathtools = 0.1.2
pkginfo = 1.7.0
plone.rest = 1.6.2
plone.restapi = 7.3.7
pyparsing = 2.4.7
readme-renderer = 28.0
requests-toolbelt = 0.9.1

# Required by:
# bleach==3.3.0
packaging = 20.9

# Required by:
# bleach==3.3.0
webencodings = 0.5.1
